@use 'partials';

*{
    box-sizing: border-box;
    margin: 0;
}
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: inherit;
}

::-webkit-scrollbar-thumb {
    background-color: partials.$text-box-color;
}
::-webkit-scrollbar-thumb:hover {
    background-color: partials.$text-box-color;
}

body {
    display: grid;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
}

body {
    background-image: url("../img/timo-volz-B587f4cdHgw-unsplash.jpg");
    background-position: center;
    background-size: cover;
    height: 100%;
    background-attachment: fixed;
}


nav {
    display: flex;
    height: 70px;
    justify-content: center;
    align-items: center;
    background-color: partials.$nav-color;
    width: 100%;
}

h1 {
    font-size: 35px;
    font-family: partials.$font-family;
}

h2 {
    font-size: partials.$h-size;
    font-family: partials.$font-family;
    margin: 10px 0 0 10px;
}
main {
    display: grid;
    grid-template-rows: 1fr auto auto;
}

.gameplay-box {
    display: grid;
    grid-template-rows: 1fr auto;
    font-family: partials.$font-family;
    background-color: partials.$text-box-color;
    height: 80%;
    margin-top: 40px;
    margin-right: 10%;
    margin-left: 10%;
    width: 80%;
    opacity: 72%;
    position: relative;
}

.textBox{
    display: flex;
    height: 100px;
    width: 70%;
    align-content: center;
    justify-content: flex-start;
    align-items: center;
    margin-left: 15%;
    margin-right: 15%;
    background-color: partials.$text-box-color;
    z-index: 1;
    position: absolute;
    top: 75%;
}

.text-span{
    font-size: partials.$p-size;
    font-family: partials.$font-family;
    margin-left: 10px;
}

.blink{
    opacity: 0;
}

.btn-1 {
    width: 150px;
    height: 40px;
    border: solid partials.$btn-color;
    font-family: partials.$font-family;
    margin: 5px 5px 5px 5px;
    background-color: black;
    color: partials.$btn-text-color;
}
.btn-2 {
    width: 150px;
    height: 40px;
    border: solid partials.$btn-color;
    font-family: partials.$font-family;
    margin: 5px 5px 5px 5px;
    background-color: black;
    color: partials.$btn-text-color;
}
.btn-3 {
    width: 150px;
    height: 40px;
    border: solid partials.$btn-color;
    font-family: partials.$font-family;
    margin: 5px 5px 5px 5px;
    background-color: black;
    color: partials.$btn-text-color;
}

